* {
	font-family: sans-serif !important;
}

.portfollio-bg-contianer {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}
.portfollio-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.prt-image {
	height: 210px;
	width: 210px;
	border-radius: 10px;
}

.prtf-info-list-container {
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
	padding-top: 2%;
	width: 80%;
	flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
	.prtf-info-item {
		width: 100%;
	}
	.prtf-info-list-container {
		justify-content: center;
	}
}

.prtf-info-item {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 270px;
	height: 420px;
	border-radius: 15px;
	box-shadow: 5px 10px 18px #888888;
	align-items: center;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-sizing: content-box;
	border: 5px solid white;
}
.prtf-item-title {
	color: #7ddbf5;
	font-family: cursive;
	font-size: 20px;
	margin: 20px;
}
.prtf-item-description {
	color: black;
	margin: 20px;
	line-height: 22px;
	/* font-family: serif-georgia; */
	font-family: cursive;
}

.card-hr-line {
	color: #b86c16;
	margin-left: 9%;
	margin-right: 9%;
}

.prtf-hover-item {
	height: 100%;
	width: 100%;
	top: 0;
	right: -100%;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to left, #fbd2ca, #a3d3f7, #d8d7f3);
	backdrop-filter: blur(6px);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 1s;
	padding: 2%;
}
.prtf-info-item:hover .prtf-hover-item {
	right: 0;
}

.prtf-item-more-description {
	font-size: 13px;
	font-family: cursive;
	font-weight: 600;
	line-height: 15px;
}
