* {
	font-family: sans-serif !important;
}

.portfollio-bg-contianer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(238, 244, 246);
	width: 100%;
}
.portfollio-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.prt-image {
	height: 210px;
	width: 210px;
	border-radius: 10px;
}

.prtf-info-list-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 0px;
	padding-top: 2%;
	width: 90%;
	flex-wrap: wrap;
	padding-bottom: 2%;
	margin-bottom: 1%;
}

.prtf-info-item {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 270px;
	height: 420px;
	border-radius: 15px;
	box-shadow: 5px 10px 18px #888888;
	align-items: center;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-sizing: content-box;
	border: 5px solid white;
	background-color: white;
}

@media screen and (max-width: 300px) {
	.prtf-info-item {
		width: 240px;
	}
}

@media screen and (max-width: 400px) {
	/* .prtf-info-item {
		width: 80%;
	} */
	.prtf-info-list-container {
		justify-content: center;
		width: 90%;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
}

@media screen and (min-width: 401px) and (max-width: 570px) {
	/* .prtf-info-item {
		width: 80%;
	} */
	.prtf-info-list-container {
		justify-content: center;
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
}
@media screen and (min-width: 570.1px) and (max-width: 700px) {
	/* .prtf-info-item {
		width: 60%;
	} */
	.prtf-info-list-container {
		justify-content: center;
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
}

@media screen and (min-width: 1060px) and (max-width: 1120px) {
	.prtf-info-list-container {
		justify-content: center;
	}
}
.prtf-item-title {
	color: #7ddbf5;
	font-family: cursive;
	font-size: 20px;
	margin: 20px;
}
.prtf-item-description {
	color: black;
	margin: 20px;
	line-height: 22px;
	font-family: cursive;
}

.card-hr-line {
	color: #b86c16;
	margin-left: 9%;
	margin-right: 9%;
}

.prtf-hover-item {
	height: 100%;
	width: 100%;
	top: 0;
	right: -100%;
	bottom: 0;
	position: absolute;
	/* background: linear-gradient(to left, #fbd2ca, #a3d3f7, #d8d7f3); */
	background: #83a4d4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#b6fbff,
		#83a4d4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#b6fbff,
		#83a4d4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	backdrop-filter: blur(6px);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 2s;
	padding: 16px;
}
.prtf-info-item:hover .prtf-hover-item {
	right: 0;
}

.prtf-hover-item:hover {
	right: -100%;
}

.prtf-item-more-description {
	font-size: 13px;
	font-family: cursive;
	font-weight: 600;
	line-height: 15px;
	text-align: center;
	color: rgb(83, 84, 72);
}

@media screen and (min-width: 701px) and (max-width: 760px) {
	.prtf-item-more-description {
		font-size: 11px;
	}
}
