.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.top-header-section {
  background-color: black;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.top-header-main {
  display: flex;
  width: 60%;
}

.top-header-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 30px;
}

.header-icons {
  font-size: 15px;
  margin-right: 10px;
}

.header-main {
  width: 920px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 100px;
  align-items: center;
  align-self: center;
}

.header-nav-list {
  padding-left: 0px;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.header-heading {
  color: skyblue;
}

.header-nav-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.header-link {
  text-decoration: none;
  margin: 0px 10px;
  font-size: 20px;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-item:hover,
.active-tab {
  background-color: #00000010;
  height: 100%;
  border-top: 6px solid #378ac4;
  top: -6px;
}
